html body{
  margin: 0;
  padding: 0;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 50, 0.5), rgba(0, 0, 50, .5),)
}

.navbar{
  padding: 0 0;
  width: 1px;
  /* NOTE: 나비바 맨 앞으로 가져오기 이거보다 더 앞으로 가져올라면 9999 로 줘야함*/
  position: relative;
  z-index: 9998!important;
}

.container-fluid{
  margin-top: 60px;
  font-size: 25px;
  letter-spacing: 1.3px;
  animation: fadein 3s 2s linear;
  animation-fill-mode:backwards;
}
.navbar-nav a{
  margin-left: 30px;
}
.navbar-toggler-icon {
  width: 15px;
}
.collapse div{
  font-family: 'Neuton', serif;
  width: 50px ;
}
/* NOTE: 드롭다운 화살표 제거 */
.dropdown-toggle:after {
  content: none ! important
}
/* NOTE: dropmenu 배경 투명 */
.dropdown-menu {
    background-color: transparent;
    border-color: transparent;
}
/* NOTE: dropitem 배경투명 */
.dropdown-menu .dropdown-item > li > a:hover {
  background-image: none;
  background-color: #000!important;
}
/* NOTE: hover시 자식요소 보이기 */
.navbar-nav li:hover>.dropdown-menu {
  display: block;
}
.dropdown-menu
{
  margin-left: -7px;
}
.dropdown-item{
  padding-bottom: 20px;
  font-size: 19px;
}

form{
  margin-top: 30px;
  margin-top: 100px;
  animation: fadein 3s 2s linear;
  animation-fill-mode:backwards;
}

/* NOTE: form 들의 css */
.form_control{
  width: 600px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid lightgray;
  color: black;
  font-size: 18px;
  margin-bottom: 30px;
}


input{
  height: 45px;
}

form .submit{
  background: transparent;
  border-color: transparent;
  color: gray;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
}

form .submit:hover{
  color: black !important;
  transition: 0.5s;

}

@keyframes fadein {
  0%{
    opacity: 0;
    margin-right: 50px;
  }
  20%{
    opacity: 1;
    margin-right: 0px;
  }
  80%{
    opacity: 1;
    margin-right: 0px;
  }
  100%{
    opacity: 1;
  }
}
